*{
box-sizing: border-box;
padding: 15px;
margin: auto;
}

body p{
    margin: auto;
    box-sizing: border-box;
    line-height: 30px;
    word-spacing: 4px;

}
body{
    background-color: lightyellow;
    font-family: sans-serif;
}

.images ul, li img{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    position: relative;
    width: 50%;

}
a:hover{
    opacity: 0.4;
}
html{
    background-color: hsl(600, 30%, 70%);
}
span{
    color: green;
}